body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
}

.books {
    display: grid;
    row-gap: 20px;
    background-color: rgb(202, 202, 202);
    padding: 40px;
    justify-items: center;
}

.row {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 300px 170px 100px 100px 50px;
    grid-auto-rows: 70px;
    align-items: center;
    background-color: blanchedalmond;
}

#row0 div {
    font-weight: 700;
}

.title {
    font-size: 20px;
}

.author {
    font-size: 18px;
}

button.delete {
    border: none;
    background: transparent;
    padding: 5px 1px;
    border-width: 0;
    padding: 0;
    line-height:0px
}

button.delete:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    cursor: pointer;
}

.fill {
    fill: rgb(212, 0, 0);
}

button.new-book {
    border: none;
    border-radius: 24px;
    background-color: blanchedalmond;
    font-size: 20px;
    padding: 16px 50px;
}
button.new-book:hover {
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: solid black 1px;
}

dialog {
    width: 500px;
    height: 600px;
    padding: 20px 50px;
}

form {
    display: grid;
    grid-template-rows: 70px 50px 50px 50px 100px 50px;
    gap: 40px;
    align-content: center;
}

#form-heading {
    justify-self: center;
}

.input-row {
    display: grid;
    grid-template-columns: 130px auto;
    align-items: center;
}

input[type='text'],
input[type='tel'] {
    font-family: inherit;
    font-size: 18px;
    height: 25px;
    border-radius: 16px;
    padding: 5px 10px;
}

input[type='text']:focus,
input[type='tel']:focus {
    outline: none;
    border: solid rgb(55, 73, 240) 3px;
}

label {
    font-size: 18px;
}

.buttons {
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

.buttons button {
    border: none;
    border-radius: 24px;
    background-color: blanchedalmond;
    font-size: 20px;
    padding: 16px 50px;
    
}

.buttons button:hover {
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}